*.js
!*.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

*/**/dist
dist

infrastructure/.npmrc

dev-scripts

config.custom-local.yml

*.env

.vscode/*
.cursor/*

backend/node_modules
backend/.env
backend/.env.docker
backend/prisma/dev.db



